@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FEFA Test Application</h1>
    <img src="https://img1.wsimg.com/isteam/stock/1YEW15Z" alt="Background-Index" />
    <p>This is an application that is for testing an ASP.NET and C# dashboard system.</p>
</div>
